<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #002e5d;">
    <a class="navbar-brand" href="/">Mongo KSL Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/savedArticles">Saved Articles</a>
            </li>
        </ul>
        <span class="navbar-text">
      This page automatically retrieves current KSL articles
    </span>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12 myjumbo">
        <h1>KSL News Articles</h1>
        </div>
    </div>
</div>

<div id="articles" class="container">
{{#each articles}}
    {{#if saved}}
    {{else}}
        </div>
        <div class="row">
            <div class="col-md-10 titlerow">
                <a href="{{link}}" target="_blank">{{title}}</a>
            </div>
            <div class="col-md-2">
                <button data-id='{{_id}}' id="saveArticle" type="button" class="btn btn-primary">
                    Save Article
                </button>
            </div>
        </div>
        <div class="row summaryrow">
            <div class="col-md-12">
                {{summary}}
            </div>
        </div>
        <hr>
    {{/if}}
{{/each}}
</div>